@{
    Page.Title = "Cadastro de Fabricante - Menu";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";

    var db = Database.Open("ConexaoLocal");

    var selecao = db.Query("select ID, FAB_NOME, FAB_LOGO " +
        "from FABRICANTE order BY FAB_NOME");
    var grid = new WebGrid(source: selecao, rowsPerPage: 10);
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Menu de Fabricante</h3>
        </div>
    </div>
</div>


<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">

                <div align="right">
                    <a href="@Href("~/adm/Fabricante_Inclusao.cshtml")">
                        <input type="button" class="btn btn-primary"
                               value="Inclusão de Fabricante" />
                    </a>
                </div>

                @grid.GetHtml(htmlAttributes: new { id = "datatable-buttons" },
                tableStyle: "table table-striped table-bordered",
               columns: grid.Columns(
                   grid.Column("ID","Código",style: "col-md-2"),
                   grid.Column("FAB_NOME","Nome Fabricante", style: "col-md-6"),
                   grid.Column(format: @<img src="@Href("~/LogoFabricante/", "mini_" + item.FAB_LOGO)" />),
                   grid.Column(format: @<a href="@Href("~/Adm/Fabricante_Alteracao.cshtml",
                         item.ID)" class="btn btn-xs btn-warning">Alterar</a>),
                   grid.Column(format: @<a href="@Href("~/Adm/Fabricante_Exclusao.cshtml",
                         item.ID)" class="btn btn-xs btn-danger">Excluir</a>
                   )))
            </div>
        </div>
    </div>
</div>
